CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'
app.cnameTarget = 'mail.your-main-domain.com'

# MySQL / MariaDB (recommended)
database.default.hostname = localhost
database.default.database = mailora
database.default.username = mailora
database.default.password = change-me
database.default.DBDriver = MySQLi
database.default.port = 3306

encryption.key =
session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
